<style>{% include 'styles/app.css' %}</style>

<div class="container">
    <h1>Welcome {{ user.name }} ! </h1>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis voluptates eligendi ipsa pariatur odio iusto
        cumque! Recusandae quos, debitis nemo atque porro excepturi voluptatibus doloremque perspiciatis. Incidunt,
        similique architecto iure.</p>
    <input type="button" value="Read more online" class="btn btn-default">
</div>


