<div class="row">
    <div class="col-md-offset-4 col-md-4 col-md-offset-4">
        {% for msg in flash('success') %}
            <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        {% endfor %}
        {% for msg in flash('error') %}
            <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        {% endfor %}
    </div>
</div>
