
{% if flash.getMessage('success') %}
    <div class="alert alert-success fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ flash.getMessage('success') | first }}
    </div>
{% endif %}

{% if flash.getMessage('error') %}
    <div class="alert alert-danger fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ flash.getMessage('error') | first }}
    </div>
{% endif %}
